.content {
  background: white;
  padding: 6rem 0;
}
.content input {
  width: 30rem;
}
.content select {
  padding: 0.5rem;
  font-size: large;
}
.content option {
  font-size: large;
}
.inner {
  background: white;
  width: 50%;
}
@media (max-width: 1200px) {
  .inner {
    width: 80%;
  }
  .content input {
    width: 20rem;
  }
}
