.content {
    background: white;
    padding: 6rem;
  }
  .inner {
    background: white;
  }
 
 .lou {
   word-spacing: 8px;
   padding: 4rem 3rem;
   background: white;
 }
 .lou p {
   padding-bottom: 10px;
 }
 .lou .heading h1 {
   text-align: center;
   font-weight: lighter;
 }
 .lou .sub-heading {
   padding: 50px 0px 0px 20px;
 }
 .lou .subject {
   padding: 20px 0px 0px 50px;
   font-weight: lighter;
   display: inline-block;
 }
 .container .subject h5 {
   font-weight: lighter;
   display: inline-block;
 }
 
 
 .service_agreement {
   padding: 1rem 2rem;
   background: white;
 }
 .service_agreement li {
   padding-left: 2rem;
 }
 
 .service_agreement .inner {
   width: fit-service_agreement;
 }
 .service_agreement h3 {
   width: fit-service_agreement;
   background-color: yellow;
 }
 .service_agreement .heading {
   text-align: center;
 }
 